{{ define "main" }}
  <section id="main-content" tabindex="-1">
    {{ with .Params.images }}
      {{ with .featured_image }}
        <div class="mb-4 text-center">
          <img src="{{ . | relURL }}" alt="{{ $.Title }}" class="img-fluid rounded" style="max-height: 500px; width: 100%; object-fit: cover;">
        </div>
      {{ end }}
    {{ end }}
    {{ if not .Params.hideTitle }}  
    <h1 id="title">{{ .Title }}</h1>
    {{ end }}
    <div>
      <article id="content">
        {{ .Content }}
      </article>
    </div>
  </section>
{{ end }}